# Copy to .envrc and fill in values
# Run `direnv allow` to activate

export VAULT_ACC=1
export HONEYCOMB_KEY_ID=hcxmk_...
export HONEYCOMB_KEY_SECRET=...
export HONEYCOMB_ENVIRONMENT=...
# export HONEYCOMB_API_URL=https://api.eu1.honeycomb.io  # optional, defaults to https://api.honeycomb.io
